.navbar {
  grid-area: left-content;
  background-color: green;
}

.item {
  color: yellow;
  text-decoration: none;
}
.active {
  color: purple;
  text-decoration: none;
}

.item.active {
  color: blue;
}
