.app-wrapper {
  display: grid;
  grid-template-areas:
    "header-content header-content header-content"
    "left-content main-content main-content";
  grid-gap: 10px;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 5fr 5fr;
  max-width: 2300px;
  margin: 0 auto;
}
